@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.container{
    text-align: center;
    position: relative;
}

.middle {
    position: absolute;
    top: 12%;
    left: 28%;
    transform: translate(-50% -50%);
    color: white;
    font-size: xx-large;
    text-align: center;
}
.bac{
    width: 100%;
}

#amazing {
    font-size: small;
}
.Images{
    height: 260px;
    width: 260px;
  }
.Images:hover{
    display: block;
    opacity: 0.3;
  }

  #paragraph, #paragraph1, #paragraph2{
    display: none;
  }
  #carrey, #pyra, #studio, #mighty, #have, #word, #burned, #resta{
    position: relative;
    display: none; 
    background-color: whitesmoke;
    border: 2px solid white;
  }
  